.carousel-inner{
    width: 100%;
}

.party .carousel-item{
    width:100%;
}

img.d-block.w-100{
    height:500px;
}

/* start of responsiveness for carousel image*/
@media (min-width: 576px) and (max-width: 768px) {
    .carousel-inner{
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .carousel-inner{
        width: 100%;
        height: 300px;
    }

}

@media (max-width: 375px) {
    .carousel-inner{
        width: 100%;
    }

}
/*end of responsiveness for carousel image*/

.party-caption.carousel-caption h3{
    color:#3D7363;
    font-size: 80px;
    margin: 170px;
    font-weight: bold;  
    background-color: #F2EDD0;
    border:15px solid #3D7363;
    text-align: center;
    opacity: 0.8;
}

/* Responsive styles for smaller screens */
@media (min-width: 576px) and (max-width: 768px) {
    .party-caption.carousel-caption h3 {
        font-size: 50px;
        margin: 100px;
        border-width: 10px;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .party-caption.carousel-caption h3 {
        font-size: 40px;
        margin: 50px;
        border-width: 8px;
    }

}

 div.party-card.card{
        width:36rem;
        background-color: #3D7363;
        margin:20px;
}

img.card-img-top{
    border-radius: 5px;
    width: 500px;
    height:300px;
}

/*new css*/
div.card-container1{
    margin:40px;
}

div.party-top.card-component-1.card{
    width:36rem;
    background-color: #F2EDD0;
    border: none;
}

img.card-img-top.party-top{
    border-radius: 5px;
    max-width: 95%;
    max-height:300px;
}

.party-title{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color:#3D7363;
}

p.party.card-text{
    font-size: 20px;
    justify-content: center;
    text-align: justify;
    color: #3D7363;  
}

@media (min-width: 576px) and (max-width: 768px) {
    div.card-container1{
        margin:45px;
    }

    div.party-top.card-component-1.card{
        width:40rem;
    }

    .party-title{
        font-size: 30px;
    }

    p.party.card-text{
        font-size: 30px;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    div.card-container1{
        margin:20px;
    }

    div.party-top.card-component-1.card{
        width:20rem;
    
    }
}

