.card{
    background-color: #68A683;
    color: #F3F3F3;
    padding: 20px;
    margin: 32px;
    align-items: center;
    display: inline-block;
    text-align: center;
    
}

.title{
    text-align: center;
}

